@charset "UTF-8";

@font-face {
    font-family: "思源宋体";
    /*noinspection CssUnknownTarget*/
    src: url("./assets/fonts/SourceHanSerifCN-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "WebgalUI";
    /*noinspection CssUnknownTarget*/
    src: url("./assets/fonts/OPPOSans-R.ttf") format("truetype");
}
